<h3>Edit <%= resource_name.to_s.humanize %></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>


	<div><%= f.label :name %><br />
  <%= f.text_field :name %></div>
  
  <div><%= f.label :surname %><br />
  <%= f.text_field :surname %></div>
  
  <div><%= f.label :address %><br />
  <%= f.text_field :address %></div>
  
  
  <div><%= f.label :availability %><br />
  <%= f.text_field :availability %></div>
  
  <div><%= f.label :city %><br />
  <%= f.text_field :city %></div>
  
  <div><%= f.label :nickskype %><br />
  <%= f.text_field :nickskype %></div>
  
  <div><%= f.label :attitude %><br />
  <%= f.text_field :attitude %></div>
  
  <div><%= f.label :passion %><br />
  <%= f.text_field :passion %></div>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(lascia in bianco se non vuoi cambiarla)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(immetti la tua password attuale per cambiarla)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Aggiorna" %></div>
<% end %>

<h3>Cancella il mio profilo</h3>

<p>Vuoi uscire dalla community? 
	<div class = "links">
	<%= link_to "Elimina account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", root_path %>
</div>
