



<!--<h1>Listing events</h1>-->
<!DOCTYPE html>
<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>La Gilda</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	

  <script src="/javascripts/gmaps4rails.base.js.coffe" type="text/javascript"></script> 

<script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.5&sensor=false&amp;libraries=geometry"></script>
<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.5/src/markerclusterer_packed.js"></script>
</script>
</head>


	
	

	
		
		
			<span class="header"></span>
			<h3><%=  @board.title %> <br />
</h3>
			<div class="links">
				<a href="iscrizione.html">Share</a>
				<a href="http://twitter.com/fwtemplates" target="_blank" >Re-Tweet</a>
		
			</div>

<section class="corpo">
	
<p id="notice"><%= notice %></p>



<table>
  <tr>
    <th colspan="2"><%= @conversation.title %></th>
  </tr>
  <% @conversation.comments.each do |comment| %>
  <tr>
    <td style="width:25%;">
      <%= comment.user.name %> <br />
      Posted At <br />
      <%= comment.created_at%>
    </td>
    <td>
      <p><%=comment.body%></p>
    </td>
  </tr>
  <% end %>
</table>
<div class = "links">
	<%if signed_in?%>
<%= link_to 'Reply', reply_board_conversation_url(:board_id=>@board, :id=>@conversation)%>
<%end%> 
<%= link_to @conversation.board.title, @conversation.board%>
</div>
