<%= form_for(@vote, :url => vote_teacher_url( :id=>@teacher)) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "rating">
  <h2><%= f.label :valutazione %></h2>
    <%= f.collection_select :value, Vote::VALUES, :to_i, :to_i, 
       :include_blank => true%> 

  
 
  
    <%= f.submit %>
  </div>
<% end %>
